/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
/* /General */

/* Utility */

/* /Utility */


/* Header */
header{
    background-color: lightblue;
    height: 100px;
}

#logo{
    height: 80px;
    margin: 10px 0 0 10px;
}

#name_logo{
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
    line-height: 100px;
    vertical-align: top;
}
/* /Header */

/* Main */
main{
    background-color: white;
    width: 80%;
    margin: auto;
}
.button{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px 10px 5px;
}

.button.task{
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;

    color: white;

}

.button.section{
    border: 1px solid lightgray;
    color: lightgray;
}
hr{
    border: 1px solid lightgray;
}


.sub_container{
    margin-top: 20px;
    margin: 30px 0 0 40px;
    line-height: 40px;
}

.list_element{
    display: block;

}

span.list_element::before{
    font-size: 10px;
    padding: 4px;
    border-radius: 100%;
    margin-right: 5px;
    border: 1px solid;
}

span.list_element.check::before{
    content: "\2713";
    color: green;
    border-color: green;
}
span.list_element.cross::before{
    content: "\2613";
    color: red;
    border-color: red;
}

span.list_element::after{
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    color: white;

}

span.list_element.editorial::after{
    content: "Editorial";
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

span.list_element.q1_goals::after{
    content: "Q1 Goals";
    background-color: purple;
    border-color: purple;
}

span.list_element.recruiting::after{
    content: "Recruiting";
    background-color: green;
    border-color: green;
}

span.list_element.mobile::after{
    content: "Mobile";
    background-color: orange;
    border-color: orange;
}

span.list_element.website::after{
    content: "Website";
    background-color: red;
    border-color: red;
}

span.list_element.sales::after{
    content: "Sales";
    background-color: greenyellow;
    border-color: greenyellow;
}
/* /Main */

/* Footer */
/* /Footer */


